@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0 0);
--color-gray-100: oklch(0.967 0.001 286.375);
--color-gray-200: oklch(0.92 0.004 286.32);
--color-gray-300: oklch(0.871 0.006 286.286);
--color-gray-400: oklch(0.705 0.015 286.067);
--color-gray-500: oklch(0.552 0.016 285.938);
--color-gray-600: oklch(0.442 0.017 285.786);
--color-gray-700: oklch(0.37 0.013 285.805);
--color-gray-800: oklch(0.274 0.006 286.033);
--color-gray-900: oklch(0.21 0.006 285.885);
--color-gray-950: oklch(0.141 0.005 285.823);
--color-primary-50: oklch(0.95 0.08 328);
--color-primary-100: oklch(0.9 0.12 328);
--color-primary-200: oklch(0.8 0.16 328);
--color-primary-300: oklch(0.7 0.18 328);
--color-primary-400: oklch(0.6 0.2 328);
--color-primary-500: oklch(0.5 0.22 328);
--color-primary-600: oklch(0.4 0.2 328);
--color-primary-700: oklch(0.35 0.18 328);
--color-primary-800: oklch(0.3 0.16 328);
--color-primary-900: oklch(0.25 0.14 328);
--color-primary-950: oklch(0.2 0.12 328);
--color-secondary-50: oklch(0.98 0.12 85);
--color-secondary-100: oklch(0.95 0.16 85);
--color-secondary-200: oklch(0.9 0.18 85);
--color-secondary-300: oklch(0.85 0.2 85);
--color-secondary-400: oklch(0.8 0.22 85);
--color-secondary-500: oklch(0.75 0.24 85);
--color-secondary-600: oklch(0.7 0.22 85);
--color-secondary-700: oklch(0.6 0.2 85);
--color-secondary-800: oklch(0.5 0.18 85);
--color-secondary-900: oklch(0.4 0.16 85);
--color-secondary-950: oklch(0.3 0.14 85);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}